.help {
    color: #595959;
    font-size: 16px;
    background-color: white;
    text-align: right;
}

.success-btn {
    background: #52c41a;
    border: none;
    padding: 5px 15px;
    color: white;
    font-weight: 500;
    border-radius: "5px";
    outline: none;
}

.success-btn:hover {
    cursor: pointer;
    background: #5dcf24;
    transition-duration: 0.5s;
}